{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"bench/keydist.cljk" ".cljs"
  "run-nbb-tests.cljk" ".cljs"
  "src/biscuit/authority.cljk" ".cljc"
  "src/biscuit/authorizer.cljk" ".cljc"
  "src/biscuit/datalog.cljk" ".cljc"
  "src/biscuit/effective.cljk" ".cljc"
  "src/biscuit/expression.cljk" ".cljc"
  "src/biscuit/kotoba.cljk" ".cljc"
  "src/biscuit/kotoba_logic.cljk" ".cljc"
  "src/biscuit/rootkey.cljk" ".cljc"
  "src/biscuit/token.cljk" ".cljc"
  "src/biscuit/wire.cljk" ".cljc"
  "test/biscuit/artifact_probe.cljk" ".cljs"
  "test/biscuit/authority_test.cljk" ".cljc"
  "test/biscuit/authorizer_test.cljk" ".cljc"
  "test/biscuit/datalog_test.cljk" ".cljc"
  "test/biscuit/ed25519.cljk" ".cljc"
  "test/biscuit/effective_test.cljk" ".cljc"
  "test/biscuit/expression_test.cljk" ".cljc"
  "test/biscuit/keys.cljk" ".cljc"
  "test/biscuit/kotoba_logic_test.cljk" ".cljc"
  "test/biscuit/kotoba_test.cljk" ".cljc"
  "test/biscuit/real_crypto_test.cljk" ".cljc"
  "test/biscuit/rootkey_test.cljk" ".cljc"
  "test/biscuit/scope_artifact_test.cljk" ".clj"
  "test/biscuit/scope_guest_document.cljk" ".clj"
  "test/biscuit/scope_kotoba_test.cljk" ".clj"
  "test/biscuit/token_test.cljk" ".cljc"
  "test/biscuit/wire_test.cljk" ".cljc"}}
